body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 12px;
}

#mainContainer {
    position: absolute;
    left: 30px;
    top: 30px;
}

.cell {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #C5C5C5;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.cell:content {
    align-content: center;
}

.active {
    background-color: crimson;
}

